<footer class="text-center p-4 border-top border-success">
  <p class="mb-0">&copy; 2025 HealthPlus - Todos os direitos reservados</p>
  <p class="mb-0">Contato: atendimento@healthplus.com.br</p>
</footer>